*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: poppins;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
}



.bootstrap{
display: none;
}

.container-header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    " .  img  ."
    ".   nav ."
    ". nav ."; 
    @extend %gradiant-header-footer;
    height: 140px;
    justify-items: center;
    
}

nav{
    grid-area: nav;
    ul{
        display: flex;
        list-style: none;
        li{
            a{
                padding-left: 50px;
            text-decoration: none;
            font-size: 25px;
            color:map-get($map: $colores, $key:"blanco" );
            }
        }
    }
}


.img-logo{
    grid-area: img;
    img{
        width: 130px;
        height: 100%;
    }
}


.redes-sociales{
    img{
        width: 25px;
    }
}
/* css  header*/

/*          Footer            */

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    " . contactof redes-sociales"
    "copi copi  .";
    @extend %gradiant-header-footer;
    width: 100%;
    height: 100px;
    p{
        grid-area: copi;
        color: $blanco;
    }
}
.contactof{
    grid-area: contactof;
    text-align: center;
    font-family: poppins;
    color: $blanco;
    h2{
        font-size: 25px;
    }

}

.redes-sociales{
grid-area: redes-sociales;
}
/* fin de footer */